<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-danger" %>
<%= link_to "Delete post", post_path(@post), method: :delete, class: "btn btn-danger"%>